@import ./Var
    
.button
    display: flex
    justify-content: center
    align-items: center

    padding: .7rem
    border: none
    outline: none
    background: transparent

    position: relative
    transition: .4s ease
    font-weight: 600
    font-size: .8em

    border-radius: .4em
    opacity: .6
    cursor: pointer

    &::after
        display: none

    &:not(.active)
        color: var(--text-a)
        > *
            fill: var(--text-a)

    &.active
        color: darken($acc, 10%) !important
        background-color: $acct70
        opacity: 1
        > *
            fill: darken($acc, 10%) !important

    &:hover
        opacity: 1
